%button {
  appearance: none;
  background-color: $base-accent-color;
  border: 0;
  border-radius: $base-border-radius;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  -webkit-font-smoothing: antialiased;
  font-size: $base-font-size;
  font-weight: bold;
  line-height: 1em;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;

  &:hover,
  &:focus {
    background-color: darken($base-accent-color, 15%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $base-accent-color;
    }
  }
}
