<div class="recipe-container">
  <%= render 'filter_indicator', filter_set: @filter_set %>

  <div class="recipe-list">
    <%= render @recipes %>
    <%= will_paginate(@recipes) %>
  </div>
</div>

<div class="recipe-filters">
  <h2>Search</h2>
  <%= render 'filter_set', filter_set: @filter_set %>
</div>
