development: &default
  adapter: postgresql
  database: milk_steak_development
  encoding: utf8
  min_messages: warning
  pool: 5
  timeout: 5000

test:
  <<: *default
  database: milk_steak_test

production:
  primary:
    url: <%= ENV["DATABASE_URL"] %>
    adapter: postgresql
    encoding: utf8
    pool: <%= ENV.fetch("RAILS_MAX_THREADS", 5) %>
  queue:
    url: <%= ENV["DATABASE_URL"] %>
    adapter: postgresql
    encoding: utf8
    pool: <%= ENV.fetch("RAILS_MAX_THREADS", 5) %>
    migrations_paths: db/queue_migrate
