body.devise-sessions,
body.devise-passwords,
body.devise-registrations,
body.devise-confirmations
{
  a {
    display: block;
  }
  br{
    display: none;
  }
  input[type="checkbox"] {
    width: auto;
  }
  label[for="user_remember_me"] {
    width: auto;
    display: inline;
  }
  #main_content{
    padding: 3em 10em 1em 10em;
    @include mobile {
      padding: 1em;
    }
    @include medium {
      padding: 1em;
    }
  }
}
