body {
  background: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("tomato_bg.jpg");
  background-color: $tomato-red;
}

header.site {
  h1 {
    margin: 0;
    padding: .1em;
    font-family: "Roboto Condensed";
    text-align: center;
    color: white;
    font-size: 5em;
    @include media($mobile) {
      font-size: 2.5em;
    }
    @include media($medium) {
      font-size: 4em;
    }
    a {
      color: white;
      &:hover {
        color: darken(white, 40%);
      }
    }
  }
}
