@mixin sidebar() {
  font-size: 0.8em;
  background-image: linear-gradient($light-gray, darken($light-gray, 10%));
  border-radius: 0px 0px 0px 10px;
  border: 1px darken($light-gray, 30%);
  border-style: none none solid solid;
}

@mixin mobile() {
  @media (min-width: 320px) and (max-width: $mobile-max) {
    @content;
  }
}

@mixin medium() {
  @media (min-width: $medium-min) and (max-width: $medium-max) {
    @content;
  }
}

@mixin desktop() {
  @media (min-width: $desktop-min) {
    @content;
  }
}
