nav {
  padding: 0.5em;
  @include span-columns(12);
  font-family: "Roboto Condensed";
  color: white;
  background: $tomato-red;

  ul, li {
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
  }
  li {
    @include span-columns(6 of 12);
  }
  li.login {
    @include span-columns(6 of 12);
    @include omega();
    text-align: right;
  }
}

