nav {
  padding: 0.5em;
  @include span-columns(12);
  font-family: "Roboto Condensed";
  color: white;
  background: $tomato-red;
  text-align: center;
  a {
    white-space: nowrap;
    display: inline-block;
    padding: 0 2em 0 2em;
    &:hover {
      background-color: lighten($tomato-red, 10%);
    }
    @include media($mobile) {
      display: block;
      margin-right: 0;
      margin-bottom: .25em;
    }
    &:last-child{
      margin-right: 0;
    }
  }
}
