.pagination {
  width: 100%;
  text-align: center;
  padding: 1em 0;

  a, span, em {
    display: inline-block;
    padding: 0.4em 1em;
    margin: 0 0.15em;
    border-radius: 2em;
    font-size: 0.9em;
    text-decoration: none;
    transition: background-color 0.2s ease;
  }

  a {
    color: $tomato-red;
    background-color: rgba($tomato-red, 0.08);

    &:hover {
      background-color: rgba($tomato-red, 0.2);
      text-decoration: none;
    }

    &:focus-visible {
      outline: 2px solid $tomato-red;
      outline-offset: 2px;
    }
  }

  em {
    font-style: normal;
    font-weight: bold;
    background-color: $tomato-red;
    color: white;
  }

  .disabled {
    color: $gray;
    cursor: default;
  }
}
