input,textarea {
  width: 100%;
}

form.new_recipe, form.edit_recipe {
  width: 100%;
  padding: 2em;
  fieldset{
    margin-top: 1.5em;
    border-radius: .5em;
  }
  legend{
    border: 1px solid #dddddd;
    font-size: 1.5em;
    background: #f7f7f7;
    padding: .25em;
    border-radius: .25em;
    text-shadow: $gray .1em .1em 2px;
    font-weight: bold;
  }
  .recipe_description {
    textarea {
      height: 5em;
    }
  }

  textarea {
    height: 2.7em;
  }
  .error {
    color: darken($error-color, 60%);
    font-weight: bold;
    font-size: 0.7em;
  }
  .hint {
    font-size: 0.8em;
    color: $dark-gray;
    opacity: 0;
    margin-bottom: 1em;
    display: block;
    text-align: right;
  }
  .field_with_hint:hover{
    .hint{
      opacity: 1;
    }
  }
  .field_with_hint input:focus + .hint{
    opacity: 1;
  }
  .metadata {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5em;
  }
  .images{
    width: 100%;
    .image-wrapper{
      border: 1px solid $gray;
      border-radius: 5px;
      display: inline-block;
      width: 40%;
      margin-bottom: 1em;
    }
    .image {
      padding: 1em;
    }
    img {
      vertical-align: middle;
    }
    .boolean{
      width: auto;
    }
    label{
      display: inline;
    }
  }

  .ingredient {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 7fr;
    gap: 0.5em;
    align-items: start;

    .header {
      font-weight: bold;
    }
    input {
      margin-bottom: 0.5em;
    }
    .recipe_recipe_ingredients__destroy{
      input {
        width: 1em;
      }
    }
  }
  .recipe_directions textarea{
    height: 20em;
  }
}
