.recipe-container {
  @include span-columns(9);

  .filter_indicator {
    font-family: "Roboto Condensed";
    padding: 1em 0em 0em 1em;
    @include span-columns(9 of 9);
    ul, li {
      display: inline;
    }
    .label {
      font-weight: bold;
    }
    li {
      padding: 0em 1em 0em 0.5em;
    }
    .remove_filter {
      opacity: 0.4;
      font-size: larger;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
  }

  .recipe-list {
    .recipe {
      padding: 2em;
      @include span-columns(3 of 9);
      @include omega(3n);

      h2 {
        text-align: center;
        font-size: .75em;
      }
      img {
        width: 187px;
        height: 187px;
        border: 1px solid darken($light-gray, 20%);
        border-radius: 10px;
        box-shadow: 5px 5px 5px $light-gray;
      }
    }
  }
}

.recipe-filters {
  padding: 2em;
  margin-bottom: 2em;
  @include span-columns(3);
  @include omega();
  @include sidebar();
}
