article.recipe {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;

  @include medium {
    grid-template-columns: 2fr 1fr;
  }

  @include desktop {
    grid-template-columns: 3fr 1fr;
  }

  h1.title {
    grid-column: 1 / -1;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 3em;
    margin-bottom: .5em;
    a {
      font-size: .5em;
      vertical-align: super;
    }
  }

  .description {
    grid-column: 1 / -1;
    margin: 0em 3em 2em 3em;
  }

  .metadata {
    grid-column: 1 / -1;
    padding-bottom: 2em;
    span.type {
      font-weight: bold;
    }
  }

  .recipe-narrative{
    padding: 2em;
    min-height: 20em;
  }

  .recipe_ingredients {
    background-color: white;
    padding: 1em 2em 1em 2em;
    border-radius: 1em;

    li {
      padding: 0.3em 0;
    }
  }

  div.tags {
    padding: 2em;
    background-color: $off-white;
    border-left: 3px solid $tomato-red;
    border-radius: 0;
    font-size: 0.8em;

    a {
      color: black;
      &:hover {
        color: lighten(black, 40%);
      }
    }

    @include mobile {
      border-left: none;
      border-top: 3px solid $tomato-red;
    }
  }

  div.images {
    grid-column: 1 / -1;
    margin-top: 2em;
    padding: 0 2% 0 2%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1em;

    .image-wrapper {
      .thumbnail img {
        width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
        border: 1px solid darken($light-gray, 20%);
        border-radius: 10px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s ease, box-shadow 0.2s ease;

        &:hover {
          transform: scale(1.03);
          box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
        }
      }

      .modalDialog img {
        border: 1px solid darken($light-gray, 20%);
        border-radius: 10px;
      }
      .modalDialog .caption {
        border-radius: 5px;
        padding: .5em;
        background-color: white;
      }
    }
  }
}
