article.recipe {
  h1.title {
    font-family: "Roboto Condensed";
    font-size: 3em;
    margin-bottom: .5em;
    a {
      font-size: .5em;
      vertical-align: super;
    }
  }

  .description {
    margin: 0em 3em 2em 3em;
  }

  .metadata {
    padding-bottom: 2em;
    span.type {
      font-weight: bold;
    }
  }

  .recipe-narrative{
    padding: 2em;
    @include media($mobile){
      @include span-columns(12 of 12);
    }
    @include media($medium){
      @include span-columns(8 of 12);
    }
    @include media($desktop){
      @include span-columns(9 of 12);
    }
    min-height: 20em;
  }

  .recipe_ingredients {
    background-color: white;
    padding: 1em 2em 1em 2em;
    border-radius: 1em;
  }

  div.tags {
    padding:  2em;
    @include sidebar();
    @include media($mobile){
      @include span-columns(12 of 12);
      @include omega();
      border-radius: 0px;
    }
    @include media($medium){
      @include span-columns(4 of 12);
      @include omega();
    }
    @include media($desktop){
      @include span-columns(3 of 12);
      @include omega();
    }
    a {
      color: black;
      &:hover {
        color: lighten(black, 40%);
      }
    }
  }
  div.images {
    margin-top: 2em;
    padding: 0 2% 0 2%;

    @include span-columns(12);

    .image-wrapper {
      @include span-columns(3);
      @include omega(4n);
      .thumbnail img {
        border: 1px solid darken($light-gray, 20%);
        border-radius: 10px;
        box-shadow: 5px 5px 5px $light-gray;
        margin: 2%;
      }

      .modalDialog img {
        border: 1px solid darken($light-gray, 20%);
        border-radius: 10px;
      }
      .modalDialog .caption {
        border-radius: 5px;
        padding: .5em;
        background-color: white;
      }
    }
  }
}

