/*
 *= require jquery-ui/autocomplete
*/

@charset 'utf-8';

@import 'normalize';

@import 'bourbon';
@import 'bitters/bitters';
@import 'neat';

@import '_variables';
@import '_mixins';
@import url(//fonts.googleapis.com/css?family=Roboto+Condensed);

@import '_header';
@import '_nav';
@import '_badges';
@import '_pagination';
@import '_recipes_forms';
@import '_recipes_show';
@import '_recipes_index';

.main-container, .body-container {
  @include outer-container;
}

.body-container {
  background-color: rgba(white, 0.9);
}

footer {
  color: white;
  padding: 1em;
  background-color: $tomato-red;
  opacity: 0.8;
  @include span-columns(12);
  @include omega();
}
