@charset 'utf-8';

@import 'normalize';

@import 'bitters/bitters';

@import '_variables';
@import '_responsive_breakpoints';
@import '_mixins';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

@import '_modal';
@import '_header';
@import '_nav';
@import '_badges';
@import '_pagination';
@import '_recipes_forms';
@import '_recipes_show';
@import '_recipes_index';
@import '_devise_customizations';

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Condensed", sans-serif;
}

a:hover {
  text-decoration: underline;
}

footer, nav {
  span.spacer{
    margin: 0em 0.5em 0em 0.5em;
  }
  a {
    color: white;
    &:hover {
      color: darken(white, 10%);
    }
  }
}

ul {
  @extend %default-ul;
}

ol {
  @extend %default-ol;
}

.main-container, .body-container {
  max-width: 68em;
  margin: 0 auto;
}

.body-container {
  background-color: rgba(white, 0.9);
}

footer {
  margin-top: 1em;
  font-size: 0.75em;
  color: white;
  padding: 1em;
  background-color: $tomato-red;
  opacity: 0.8;
  width: 100%;
}
