<nav>
  <ul>
    <li>
      <% if current_user.present? %>
        <%= link_to t('ui.recipes.links.new'), new_recipe_path %>
      <% end %>
    </li>
    <li class="login">
    <% if current_user.present? %>
      Welcome back, <%= current_user.email %>. <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Log in', new_user_session_path %>
    <% end %>
    </li>
  </ul>
</nav>
