<div class="image-wrapper">
  <div class="<%= dom_class(image) %> <%= featured_image_class(image) %> thumbnail" id="<%= dom_id(image) %>">
    <% if image.image.attached? %>
      <%= link_to(image_tag(image.image_url(:thumb), class: 'w-full aspect-square object-cover rounded-lg shadow-sm hover:shadow-md hover:scale-[1.03] transition-all duration-200'),
            image.image_url(:large),
            class: 'lightbox-trigger',
            data: { caption: image.caption.presence }) %>
    <% end %>
  </div>
</div>
